$tomorrow-night-background:   #1d1f21;
$tomorrow-night-current-line: #282a2e;
$tomorrow-night-selection:    #373b41;
$tomorrow-night-foreground:   #c5c8c6;
$tomorrow-night-comment:      #969896;
$tomorrow-night-red:          #cc6666;
$tomorrow-night-orange:       #de935f;
$tomorrow-night-yellow:       #f0c674;
$tomorrow-night-green:        #b5bd68;
$tomorrow-night-aqua:         #8abeb7;
$tomorrow-night-blue:         #81a2be;
$tomorrow-night-purple:       #b294bb;

$background: $tomorrow-night-background;
$foreground: $tomorrow-night-foreground;

body {
  background-color: $background;
  color: $foreground;
  font-family: -apple-system;
  margin: 0;
  padding: 0;
}

header {
  background: $tomorrow-night-current-line;
  border-bottom: 1px solid $tomorrow-night-selection;
  padding-left: 2em;
  padding-right: 2em;

  h1 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 2;
  }
}

.container {
  margin-left: 2em;
  margin-right: 2em;
  
  @media screen and (min-width: 768px) {
    width: calc(768px - 4em);
    margin-left: auto;
    margin-right: auto;
  }
}

.search {
  margin-top: 4em;

  input.search-query {
    width: 100%;
    box-sizing: border-box;
    font-size: 16pt;

    background: transparent;
    border: 1px solid $tomorrow-night-selection;
    padding: 5px;
    border-radius: 5px;
    color: $tomorrow-night-foreground;
  }

  @media screen and (min-width: 768px) {
    margin-top: 8em;
    input.search-query {
      font-size: 20pt;
    }
  }
}

.bookmarks {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  margin-left: 0;
  padding-left: 0;
  margin-top: 4em;

  > li {
    width: 50%;
    flex-grow: 1;
    box-sizing: border-box;

    padding-left: 1em;
    padding-right: 1em;
    &:nth-child(2n) { padding-right: 0; }
    &:nth-child(2n+1) { padding-left: 0; }
  }

  h3 {
    color: black;
    text-align: center;
    padding: 5px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  ul {
    margin-left: 0;
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 1em;
    padding: 5px;
    list-style: none;
  }

  li {
    text-align: center;
  }

  a {
    line-height: 2;
    width: 100%;
    height: 100%;
    display: block;
    color: $tomorrow-night-foreground;
    text-decoration: none;
    &:hover {
      color: $tomorrow-night-aqua;
      text-decoration: underline;
    }
  }

  > li:nth-child(1) {
    h3 { background: $tomorrow-night-red; }
    ul { border-color: $tomorrow-night-red; }
  }

  > li:nth-child(2) {
    h3 { background: $tomorrow-night-orange; }
    ul { border-color: $tomorrow-night-orange; }
  }

  > li:nth-child(3) {
    h3 { background: $tomorrow-night-yellow; }
    ul { border-color: $tomorrow-night-yellow; }
  }

  > li:nth-child(4) {
    h3 { background: $tomorrow-night-green; }
    ul { border-color: $tomorrow-night-green; }
  }

  @media screen and (min-width: 768px) {
    margin-top: 6em;

    & > li {
      flex: 1;

      margin-right: 1em;
      &:last-child { margin-right: 0; }

      padding-left: 0;
      padding-right: 0;
    }
  }
}